/* Add CSS Styling */
.odd-ele {
    background-color: #ffc0cb;
    font-family: Verdana,"DejaVu Sans",sans-serif;
}
#ele-2 {
    color: blue;
    font-size: 36px;
}
.ele-3 {
    font-size: 24px;
}
#ele-4 {
    font-weight: bold;
    background-color: lightgreen;
}